<h1><%= @user.name %>, aqui está seu código!</h1>

<p>Nº Pedido: <strong><%= @order.id %></strong></p>
<p>Jogo: <strong><%= @license.game.product.name %></strong></p>

<p>
  Código: 
  <strong><%= @license.key %></strong>
</p>

<p>
  Atenciosamente,<br>
  Equipe Store Games.
</p>