<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem vindo!</title>
  <link
      href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i"
      rel="stylesheet"
    />
</head>
<body>
    <div class="es-wrapper-color">
      <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
          <tr class="gmail-fix" height="0">
            <td>
              <table
                width="600"
                cellspacing="0"
                cellpadding="0"
                style="border:0;"
                
                
              >
                <tbody>
                  <tr>
                    <td
                      cellpadding="0"
                      cellspacing="0"
                      border:0
                      style="line-height: 1px; min-width: 600px;"
                      height="0"
                    >
                      <img
                        src="https://roxhxq.stripocdn.email/content/guids/CABINET_837dc1d79e3a5eca5eb1609bfe9fd374/images/41521605538834349.png"
                        style="
                          display: block;
                          max-height: 0px;
                          min-height: 0px;
                          min-width: 600px;
                          width: 600px;
                        "
                        alt
                        width="600"
                        height="1"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td class="esd-email-paddings" valign="top">
              <table
                class="es-header"
                cellspacing="0"
                cellpadding="0"
                align="center"
              >
                <tbody>
                  <tr>
                    <td
                      class="esd-stripe"
                      esd-custom-block-id="6339"
                      align="center"
                      bgcolor="#06092B"
                      style="background-color: #06092b"
                    >
                      <table
                        class="es-header-body"
                        width="600"
                        cellspacing="0"
                        cellpadding="0"
                        align="center"
                      >
                        <tbody>
                          <tr>
                            <td
                              class="
                                esd-structure
                                es-p20t es-p10b es-p10r es-p10l
                              "
                              align="left"
                            >
                              <table
                                width="100%""
                                cellspacing="0"
                                cellpadding="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      class="esd-container-frame"
                                      width="580"
                                      valign="top"
                                      align="center"
                                    >
                                      <table
                                        width="100%"
                                        cellspacing="0"
                                        cellpadding="0"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              align="center"
                                              class="esd-block-text"
                                            >
                                              <h3
                                                style="
                                                  font-family: roboto,
                                                    'helvetica neue', helvetica,
                                                    arial, sans-serif;
                                                "
                                              >
                                                <strong
                                                  ><span style="color: #ffffff"
                                                    >STORE GAMES</span
                                                  >S</strong
                                                >
                                              </h3>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              class="
                                                esd-block-image
                                                es-p25t es-p25b es-p10r es-p10l
                                              "
                                              align="center"
                                              style="font-size: 0px; padding-bottom: 15px;"
                                            >
                                              <a href target="_blank"
                                                ><img
                                                  src="https://roxhxq.stripocdn.email/content/guids/491a0de1-8b71-4874-a48a-06feece1f8ab/images/93561622055362092.png"
                                                  alt="Store Games"
                                                  style="
                                                    display: block;
                                                    font-size: 12px;
                                                  "
                                                  width="40"
                                                  title="Store Games"
                                              /></a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                class="es-content"
                cellspacing="0"
                cellpadding="0"
                align="center"
              >
                <tbody>
                  <tr>
                    <td
                      class="esd-stripe"
                      style="background-color: #06092b"
                      esd-custom-block-id="6340"
                      bgcolor="#06092B"
                      align="center"
                    >
                      <table
                        class="es-content-body"
                        style="background-color: transparent"
                        width="600"
                        cellspacing="0"
                        cellpadding="0"
                        align="center"
                        bgcolor="#ffffff"
                      >
                        <tbody>
                          <tr>
                            <td 
                                class="esd-structure" 
                                align="left" 
                                style="
                                display: flex; 
                                align-items: center;
                                justify-content: center
                            "
                            >
                              <table
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                                style="max-width: 400px;"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      class="esd-container-frame"
                                      width="600"
                                      valign="top"
                                      align="center"
                                    >
                                      <table
                                        style="
                                          background-color: #ffffff;
                                          border-radius: 4px;
                                          border-collapse: separate;
                                        "
                                        width="100%"
                                        cellspacing="0"
                                        cellpadding="0"
                                        bgcolor="#ffffff"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              class="
                                                esd-block-text
                                                es-p35t es-p5b es-p30r es-p30l
                                              "
                                              align="center"
                                            >
                                              <h1>
                                                BEM VINDO! 
                                              </h1>
                                              <h3>
                                                <%= @user.name.upcase %>
                                              </h3>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              class="
                                                esd-block-spacer
                                                es-p5t es-p5b es-p20r es-p20l
                                              "
                                              bgcolor="#ffffff"
                                              align="center"
                                              style="font-size: 0"
                                            >
                                              <table
                                                width="100%"
                                                height="100%"
                                                cellspacing="0"
                                                cellpadding="0"
                                                border="0"
                                              >
                                                <tbody>
                                                  <tr>
                                                    <td
                                                      style="
                                                        border-bottom: 1px solid
                                                          #ffffff;
                                                        background: rgba(
                                                            0,
                                                            0,
                                                            0,
                                                            0
                                                          )
                                                          none repeat scroll 0%
                                                          0%;
                                                        height: 1px;
                                                        width: 100%;
                                                        margin: 0px;
                                                      "
                                                    ></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                class="es-content"
                cellspacing="0"
                cellpadding="0"
                align="center"
              >
                <tbody>
                  <tr>
                    <td class="esd-stripe" align="center">
                      <table
                        class="es-content-body"
                        style="background-color: transparent"
                        width="600"
                        cellspacing="0"
                        cellpadding="0"
                        align="center"
                        bgcolor="#ffffff"
                      >
                        <tbody>
                          <tr>
                            <td class="esd-structure" align="left">
                              <table
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      class="esd-container-frame"
                                      width="600"
                                      valign="top"
                                      align="center"
                                    >
                                      <table
                                        style="
                                          border-radius: 4px;
                                          border-collapse: separate;
                                          background-color: #ffffff;
                                        "
                                        width="100%"
                                        cellspacing="0"
                                        cellpadding="0"
                                        bgcolor="#ffffff"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              class="
                                                esd-block-text
                                                es-p20t
                                                es-p20b
                                                es-p30r
                                                es-p30l
                                                es-m-txt-l
                                              "
                                              bgcolor="#ffffff"
                                              align="left"
                                            >
                                              <p style="color: #666666;">
                                                Estamos muito felizes por você
                                                fazer parte da família <strong>Store Games</strong> 🎉
                                                <br>
                                                Para acessar nossa loja, basta clicar no botão abaixo.
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              class="
                                                esd-block-button
                                                es-p35t es-p35b es-p10r es-p10l
                                              "
                                              style="height: 130px;"
                                              align="center"
                                            >
                                              <span
                                                class="es-button-border"
                                                style="background: #f231a5; cursor: pointer;"
                                                ><a
                                                  href="https://localhost:3000/games/1"
                                                  class="
                                                    es-button
                                                    es-button-1622055167042
                                                  "
                                                  target="_blank"
                                                  style="
                                                    border-width: 15px 30px;
                                                    background: #f231a5;
                                                    border-color: #f231a5;
                                                    padding: 8px;
                                                    border-radius: 3px;
                                                    text-decoration: none;
                                                    font-weight: 600;
                                                    color: white;
                                                    cursor: pointer;
                                                  "
                                                  >Acessar a Store</a
                                                ></span
                                              >
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              class="
                                                esd-block-text
                                                es-p20t
                                                es-p40b
                                                es-p30r
                                                es-p30l
                                                es-m-txt-l
                                              "
                                              align="left"
                                            >
                                              <p style="color: #666666">
                                                Com carinho,<br />Equipe
                                                <strong>Store Games 🎮</strong>
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table
                cellpadding="0"
                cellspacing="0"
                class="es-footer"
                align="center"
              >
                <tbody>
                  <tr>
                    <td
                      class="esd-stripe"
                      esd-custom-block-id="6342"
                      align="center"
                    >
                      <table
                        class="es-footer-body"
                        width="600"
                        cellspacing="0"
                        cellpadding="0"
                        align="center"
                      >
                        <tbody>
                          <tr class="es-visible-simple-html-only">
                            <td
                              class="esd-structure es-p30 es-struct-html"
                              align="left"
                            >
                              <table
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      class="esd-container-frame"
                                      width="540"
                                      valign="top"
                                      align="center"
                                    >
                                      <table
                                        width="100%"
                                        cellspacing="0"
                                        cellpadding="0"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              align="left"
                                              class="esd-block-text es-p25t"
                                            >
                                              <em style="color: #666666">
                                                Você recebeu este e-mail porque
                                                acabou de se inscrever para uma
                                                nova conta em nossa loja. Se
                                                você não se inscreveu, ignore
                                                este email.
                                              </em>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              class="esd-block-text es-p25t"
                                              align="left"
                                            >
                                              <p style="color: #666666">
                                                <strong>Store Games</strong> com 💙 de Belo Horizonte, Brasil.
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>