<h1>
  <%= @user.name %>, recebemos seu pedido!
</h1>

<p>
  Aqui estão os detalhes: <br>
  <strong>Pedido: </strong> <%= @order.id %> <br>
</p>

<p>
  Caso seu pagamento seja aprovado pela operadora, você receberá um email com seus códigos de resgaste.
</p>

<p>
  Atenciosamente, <br>
  Equipe Store Games.
</p>