<h1>Olá, <%= @user.name %>.</h1>

<p>
  Infelizmente, o pagamento para o pedido <strong><%= @order.id %></strong> foi recusado pela operadora.
</p>
<p>
  Mas não se preocupe, você pode tentar realizar novamente.
</p>
<p>
  Atenciosamente,<br>
  Equipe Store Games.
</p>
