<h1>
  <%= @user.name %>, seu pagamento para o pedido <strong><%= @order.id %></strong> foi recebido com sucesso!
</h1>

<p>
  Você receberá um email contendo os códigos para resgate.
</p>

<p>
  Atenciosamente,<br>
  Equipe Store Games.
</p>